<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Admin/adminbase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>

        <section>
            <h1 class="text-center mb-5 mt-5"> This is Admin page. </h1>

            <div class="text-center">
                <a th:href="@{/logout}" id="logout"> <button class="btn btn-success"> Logout </button> </a>
            </div>

        </section>


    </body>
</html>