body{
    /*background: #e2e2e2 !important;*/
    /*background: #809a98 !important;*/
}

.my-card{
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    border-radius: 10px;
    background: #E0E0E0;
}

.my-card .heading{
    padding-bottom: 50px;
}


