<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <!--codepen's css for this login form style-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <!-- Codepen's js for this login form style-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <link rel="stylesheet" th:href="@{/css/login.css}">
    </head>

    <body>

        <div class="wrapper fadeInDown">
            <div id="formContent">

                <!-- Login Form -->

                <h3 class="text-center mt-4"> Login </h3>

                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and password
                </div>


                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out
                </div>


                <form style="margin-top: 40px;" action="#" th:action="@{/dologin}" method="post">

                    <input type="text" id="username" class="fadeIn second" name="username" placeholder="username/email">

                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">

                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Register account -->
                <div id="formFooter">
                    <a class="underlineHover" href="/signUp">Don't have an account?</a>
                </div>

            </div>
        </div>

    </body>
</html>